/* Start of the home page. 
  Resetting the browers automatic margin and 
  padding and specifying the browser to calculate 
  the border and padding when width and height is set */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

/* All text within the body will have a font stack of Oswald, or sans-serif */
body {
  font-family: 'Oswald', sans-serif;
  background-color: #333;
}

/* Setting the html to 62.5% to help with responsiveness. Divide by 10 and use 
rem instead of pixels. Added height 101% to account for the navbar not pushing
to the right of the page */
html {
  height: 101%;
  font-size: 62.5%;

}

/* Ultility class */
/* Instead of using line breaks */
.separator {
  margin-top: 9rem;
}


/* Background url has four values that adjust the png image with a width and height */
.logo {
  position: relative;
  top: 1.2rem;
  left: 2.0rem;
  background: url("../images/london_logo.png") no-repeat center center/cover;
  width: 5rem;
  height: 5rem;

}

/* Setting the background color for the menu */

.navbar {
  background-color: silver;
}

/* Positioning the logo to be on the same line as the link tags */

.navbar .logo {
  position: absolute;
  top: 0.08%;
  right: 0%
}

.navbar ul {
  text-align: right;
  margin-right: 1rem;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  display: block;
  padding: 1.0rem 2.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
}

.navbar a:hover {
  color: red;
}

.london-showcase video {
  width: 100%;
  position: relative;
}

.london-showcase h2 {
  position: absolute;
  top: 25%;
  right: 45.5%;
  z-index: 1;
  color: white;
  font-size: 5rem;
  text-shadow: 0.2rem 0.2rem red;
}

.separator {
  margin-top: 9rem;
}

.interesting-facts {
  font-size: 4.2rem;
  text-align: center;
  color: #fff;
  font-weight: bold;

}

/* Utilizing display flex but not sure how to explain this since I haven't played 
around with flex box yet  it seems you definitely want to ultilize it*/
.center-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


/* To make the london-cards centered, we changed the element to a inline-block but it also centers everything  */

.london-card {
  display: inline-block;
  width: 32.5rem;
  height: 42.5rem;
  background-color: silver;
  margin-left: 3rem;
  border-radius: 0.4rem;
  margin: 5rem;
  border-left: 1rem solid red;
  transition: border-left .4s
}

.london-card h2,
p {
  font-size: 1.7rem;
  /* font-size: 5rem; */
  padding: 1rem 2rem;


}


.london-card:hover {
  cursor: pointer;
  border-left: 0.3rem dotted red;

}



/* .bottom-of-page {
  background-color: silver;
  padding: 1.0rem 2.5rem;
  font-size: 1.9rem;
}

.copyright {
  text-align: center;
}


.bottom-of-page img {
  width: 2rem;
  height: 2rem;
  margin-right: 5rem;
  float: right;
  transform: rotate(0deg);
}

.bottom-of-page img:hover {
  cursor: pointer;
  transform: rotateY(360deg);
  transition: all 2s linear;
} */




/* End of the Home page */


/* Activities Page Start */

.image-one,
.image-two {
  width: 100%;
  min-height: 100vh;
}

.image-three {
  min-height: 100vh;
}

.image-one h2,
.image-two h2,
.image-three h2 {
  color: #fff;
  font-size: 5.5rem;
  text-align: center;
  padding-top: 25rem;
  text-shadow: 0.1rem 0.1rem 0.2rem #000;
}

.image-one {
  background: url("../images/london_brick_lane.jpg") no-repeat center bottom / cover fixed;
}

.image-two {
  background: url("../images/london_primrose_hill.jpg") no-repeat center center / cover fixed;
}

.image-three {
  background: url("https://www.ceeh.es/wp-content/uploads/2018/03/P3598_005_pr_.jpg") no-repeat center top / cover fixed;
}

.image-one-info h3,
.image-two-info h3,
.image-three-info h3 {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
  text-shadow: 0.1rem 0.1rem 2rem #000;
}

.image-one-info,
.image-two-info,
.image-three-info {
  line-height: 2.8rem;
  font-size: 1rem;
  text-align: justify;
  font-weight: bold;

}

/* Taking after it's parent element which is the nav bar ul, list items */

.image-related-info {
  color: red;
  font-weight: bolder;
  font-size: 1.3rem;
}

.send-to-contact-page {
  max-width: fit-content;
  margin: 2rem auto;
  padding: 3.5rem;
  text-align: center;
}

.send-to-contact-page h3 {
  font-size: 2rem;
  color: #fff;
  padding-top: 2rem;
  text-align: center
}

.send-to-contact-page p {
  width: 100%;
  padding-top: 2rem;
  text-align: center;
  color: #fff;
  padding-top: 2rem
}


.send-to-contact-page a {
  display: block;
  color: #fff;
  text-decoration: none;
  background: red;
  width: 100%;
  text-align: center;
  padding: 1.0rem;
  font-size: 2rem;
  border-radius: 0.4rem;
  text-transform: capitalize;
  margin-top: 1rem;
}

/* Contact Page */

/* .alter-viewportheight {
  min-height: 100vh;

} */

.container {
  max-width: 85rem;
  background: #f4f4f4;
  margin: 3.5rem auto;
  padding: 1.0rem;
  /* box-shadow: 0.1rem 0.1rem 0.9rem red; */
}

.container h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.contact-wrapper label,
input,
textarea,
select,
button {
  display: block;
  width: 100%;
  padding: 0.1rem;
  margin-bottom: 2rem;
  font-size: 1.6rem
}

/* .error-message-one,
.error-message-two,
.error-message-three {
  color: red;
  font-size: 1.3rem;

} */


.contact-wrapper input {
  border-radius: 0.9rem;
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  outline: none;
  border-color: #333
}

.contact-wrapper label,
input textarea {
  outline: none;
}

.contact-asterick {
  color: red;
  font-size: 1.7rem;
}

.contact-wrapper textarea {
  resize: vertical;
  outline: none;
  border-radius: 0.4rem;
}

.contact-wrapper button {
  color: #fff;
  background: #000;
  border: none;
  font-size: 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  margin-top: 3rem;
  text-transform: uppercase;
}

.contact-wrapper button:hover {
  background: linear-gradient(to right, red, #000)
}

.activity {
  text-align: center;
  font-size: large;
  font-weight: 700;
  margin-top: 1rem;
}



.f-container {
  max-width: fit-content;
  margin: 0 auto;
}

.f-container ul {
  text-align: center;
}

.f-container li {
  display: inline-block;
  margin: 4.5rem;



}

.bottom-of-page {
  background-color: silver;
  padding: 1.0rem 2.5rem;
  font-size: 1.9rem;
}

.copyright {
  text-align: center;
}


.bottom-of-page img {
  width: 2rem;
  height: 2rem;
  /* margin-right: 5rem; */
  /* float: right; */
  transform: rotate(0deg);
}

.bottom-of-page img:hover {
  cursor: pointer;
  transform: rotateY(360deg);
  transition: all 2s linear;
}



/* Media query: Mobile  */

@media(max-width: 500px) {
  .navbar .logo {
    display: none;
  }

  .navbar ul {
    text-align: center;
  }

  .navbar li {
    display: block;
  }

  .navbar a {
    padding: 0.15rem 0.25rem;
  }



  .london-showcase h1 {
    position: absolute;
    top: 17%;
    right: 44.4%;
    font-size: 2.3rem;
  }

  .interesting-facts {
    font-size: 3rem;
  }

  .image-one {
    background: url("../images/london_brick_lane.jpg") no-repeat center bottom / cover;
  }

  .image-two {
    background: url("../images/london_primrose_hill.jpg") no-repeat center center / cover;
  }

  .image-three {
    background: url("https://www.ceeh.es/wp-content/uploads/2018/03/P3598_005_pr_.jpg") no-repeat center center / cover;
  }


  .image-one h2,
  .image-two h2,
  .image-three h2 {
    font-size: 3.2rem;
    font-weight: bolder;
  }

  .image-one-info,
  .image-two-info,
  .image-three-info {
    /* line-height: none; */
    text-align: center;
  }

  .container {
    max-width: 35rem;
  }

  .f-container li {
    margin: 1.8rem
  }

  .bottom-of-page img {
    transform: none;
  }

  .bottom-of-page img:hover {
    cursor: auto;
    transform: none;
    transition: none;
  }
}

/* Media Query: iPad */
@media(min-width: 500px) and (max-width: 820px) {
  .london-showcase h1 {
    position: absolute;
    top: 17%;
    right: 40.4%;
    font-size: 4rem;
  }

  .london-card {
    width: 100%;
    height: 100%
  }

  /* .send-to-contact-page h3 {
    text-align: center;
    width: 100%;
  } */


  /* To add some  */
  .contact-content {
    background-image: linear-gradient(286deg, #000 55%, #333 45%);
  }

  .container {
    max-width: 45rem;
    margin: 25.5rem auto;

  }
}



/* @media screen and (max-width: 658px) {
  .london-showcase h1 {
    position: absolute;
    top: 30%;
    right: 45.2%;
    font-size: 2.3rem
  }

  .interesting-facts {
    font-size: 3rem;
  }
} */